@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Fonts */
    --font-headline: 'Plus Jakarta Sans', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-label: 'Inter', sans-serif;

    /* Border Radii */
    --radius-DEFAULT: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;

    /* Colors */
    --color-on-tertiary: #481965;
    --color-inverse-on-surface: #2b2d53;
    --color-surface-container: #1a1b41;
    --color-primary-container: #7b2cbf;
    --color-background: #0e0e35;
    --color-on-error-container: #ffdad6;
    --color-surface-container-lowest: #08082f;
    --color-error-container: #93000a;
    --color-outline-variant: #4c4353;
    --color-on-surface-variant: #cfc2d5;
    --color-tertiary: #e5b5ff;
    --color-surface-tint: #deb7ff;
    --color-primary-fixed-dim: #deb7ff;
    --color-inverse-surface: #e1e0ff;
    --color-on-tertiary-fixed: #30004b;
    --color-tertiary-fixed-dim: #e5b5ff;
    --color-secondary-container: #5b308c;
    --color-error: #ffb4ab;
    --color-on-background: #e1e0ff;
    --color-secondary-fixed-dim: #dbb8ff;
    --color-inverse-primary: #8234c6;
    --color-on-primary-fixed: #2d0050;
    --color-tertiary-fixed: #f4d9ff;
    --color-tertiary-container: #734490;
    --color-surface-variant: #303158;
    --color-on-secondary-fixed: #2b0053;
    --color-on-tertiary-fixed-variant: #60327d;
    --color-surface-container-highest: #303158;
    --color-on-secondary-fixed-variant: #5b308c;
    --color-outline: #988d9e;
    --color-on-secondary: #441573;
    --color-surface-bright: #34355d;
    --color-primary: #deb7ff;
    --color-surface: #0e0e35;
    --color-surface-container-low: #16173d;
    --color-on-primary-container: #e4c2ff;
    --color-on-secondary-container: #cea2ff;
    --color-primary-fixed: #f1dbff;
    --color-on-primary-fixed-variant: #680eac;
    --color-on-error: #690005;
    --color-secondary: #dbb8ff;
    --color-secondary-fixed: #efdbff;
    --color-on-tertiary-container: #e9c0ff;
    --color-on-primary: #4a007f;
    --color-surface-container-high: #25264c;
    --color-surface-dim: #0e0e35;
    --color-on-surface: #e1e0ff;
}

body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
    background: rgba(48, 49, 88, 0.4);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(152, 141, 158, 0.15);
}

.drift-hover:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px -10px rgba(123, 44, 191, 0.3);
}
